body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  video, audio {
    margin: 20px auto;
    display: block;
    max-width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  header, footer {
    margin-bottom: 20px;
  }

  div button{
    width:80%;
    font-size:2em;
  }